body{
    font-family: Arial, Helvetica, sans-serif;
}
.head{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: 1px solid black;
}
.logo{
    width: 50px;
    height: 50px;
    justify-content: flex-start;
}
.menu{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}
.artikel{
    height: 578px;
    padding: 24px;
    border-bottom: 1px solid black;
}
main{
    padding: 24px;
}
.gambar_utama{
    height: 578px;
}
.facility{
    border-bottom: 1px solid black;
}
.facility_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.gambar{
    padding: 10px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.menu_img {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding: 10px;
}
.main_message{
    padding: 20px;
    border-bottom: 1px solid black;
}
.pesan{
    display: flex;
    flex-direction: row;
    
}
.input_pesan{
    width: 50%;
}
.output_pesan{
    width: 50%;
    border: 1px solid black;
    padding: 20px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid black;
    padding-right: 10px;
}
@media only screen and (max-width: 600px){
    .head{
        justify-content: center;
        flex-direction: column;
    }
    .menu{
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .facility_img{
        flex-direction: column;
    }
    .pesan{
        flex-direction: column;
    }
}